.home_header {
    display: flex;
    justify-content: center;   
}

.home_header h1 {
    font-size: 50px;
}

.posts_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    text-align: center; 
    gap: 80px; 
  }
  

  
