.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px;
}

.navbar h1 {
    font-size: 30px;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    padding-left: 25px;
}

.navbar ul li a {
    color: rgb(28, 28, 28);
    text-decoration: none;
}