.permalink_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(238, 238, 238);
    width: 500px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  }
  
.permalink_content .post_title {
    font-size: 45px;
    margin-top: 2px;
    margin-bottom: 10px;
}

.permalink_content h1, h2, h3, h4, h5, h6{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 30px;
}

.permalink_content .username {
    margin-top: 0;
    margin-bottom: 40px;

}

.permalink_content p {
    text-align: center;
    width: 460px; 
    overflow-wrap: break-word; 
    margin: 0;
}

.permalink_content .content {
    font-size: 20px;
}

.permalink_content button {
    height: 50px;
    width: 100px;
    padding: 0;
    border: none;
    border-radius: 3px;
    background-color: rgb(210, 210, 210);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 20px;
}

.permalink_content button:hover {
    background-color: rgb(222, 222, 222);
}

.permalink_content button a {
    height: 50px;
}

.permalink_content_buttons {
    display: flex; 
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.permalink_content .timestamp {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.post-link {
    display: inline-block;
    width: fit-content; /* or specify a width here */
  }