.sign_upForm {
    margin: 100px auto 0; /* This centers the form horizontally and adds top margin */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 225, 231);
    width: 300px;
    border-radius: 15px;
  }

  .sign_upForm input {
    height: 40px;
    width: 250px;
    font-size: 20px;
    padding: 0;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.sign_upForm button {
    padding: 0px;
    height: 40px;
    width: 100px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    margin-bottom: 40px;
    background-color: rgb(177, 206, 232);
}